/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*::before,*::after{
    box-sizing: border-box;
}

/* body */
body{
    font-family: Microsoft JhengHei;
}
body h1{
    font-size: 60px;
}
body h2{
    font-size: 50px;
}
body h3{
    font-size: 40px;
}
body h4{
    font-size: 30px;
}
body h5{
    font-size: 20px;
}
/* container */
.container{
	margin: 0 auto;
    width: 1024px;
}
/* header */
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 35px;
	position: fixed;
	width: 1024px;
	background-color: rgba(53, 53, 53, .8);
	z-index: 30;
}
.header h1 a{
	display: block;
	background: url(../img/logo.png);
	width: 182px;
	height: 36px;
	text-decoration: none;
	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
}
.header .menu{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.header .menu li{
	margin-right: 10px;
	text-align: center;
}
.header .menu li a{
	padding: 22px 10px 17px;
	text-decoration: none;
	color: #fff;
	font-size: 17px;
}
.header .menu li a:hover{
	border-bottom: 5px solid #00cc99;
	color: #00cc99;
}
/* banner */
.banner{
	width: 1024px;
	height: 480px;
}
.banner h2{
	padding-top: 166px;
	font-weight: bold;
}
/* content */
.content{
	padding-top: 55px;
}

/* footer */
.footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 35px;
	background-color: #323228;
}
.footer h5 a{
	display: block;
	margin-bottom: 5px;
	background: url(../img/logo.png);
	width: 182px;
	height: 36px;
	text-decoration: none;
	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
}
.footer h5 span{
	display: block;
	text-indent: 2em;
	color: #9b9b9b;
}
.footer .info{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footer .info li h5 a{
	display: block;
	margin-right: 15px;
	width: 35px;
	height: 35px;
	text-decoration: none;
	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
}
.footer .info .facebook h5 a{
	background: url(../img/fb.png);
}
.footer .info .twitter h5 a{
	background: url(../img/tw.png);
}
.footer .info .instagram h5 a{
	background: url(../img/ig.png);
}

/* home */
.home-bg{
	padding-left: 35px;
	background: url(../img/bg_index.png);
}
.home-bg h2{
	margin-bottom: 55px;
	line-height: 1.5;
	color: #00cc99;
}
.home-bg h2 span{
	color: #fff;
}
.home-bg input[type="button"]{
	border: 1px solid #00cc99;
	border-radius: 5px;
	background-color: #00cc99;
	width: 220px;
	height: 55px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}
.home-bg input[type="button"]:hover{
	border: 1px solid #fff;
	background-color: #fff;
	color: #00cc99;
	cursor: pointer;
}
.home .course-box,.compare{
	margin: 0 auto;
	width: 940px;
}
/* course-box */
.home .course-box{
	margin-bottom: 55px;
}
.home .course-box .more{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.home .course-box .more h3{
	color: #00cc99;
	font-weight: bold;
}
.home .course-box .more h3 span{
	color: #9b9b9b;
	font-size: 18px;
}
.home .course-box .more input[type="button"]{
	padding: 5px 12px;
	border: 2px solid #00cc99;
	border-radius: 5px;
	width: 95px;
	height: 36px;
	color: #00cc99;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
}
.home .course-box .more input[type="button"]:hover{
	background-color: #00cc99;
	color: #fff;
	cursor: pointer;
}
.home ul{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.home ul li{
	padding: 20px 15px;
	width: 300px;
	box-shadow: 0 2px 0 2px #e4e4e4;
	text-align: center;
}
.home ul li:hover{
	box-shadow: 0 2px 2px 2px #9b9b9b;
	cursor: pointer;
}
.home ul li h5{
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}
.home ul li p{
	line-height: 1.5;
	color: #9b9b9b;
	text-align: left;
}
/* compare */
.home .compare{
	margin-bottom: 60px;
}
.home .compare h3{
	margin-bottom: 25px;
	color: #00cc99;
	font-weight: bold;
}
.home .compare h3 span{
	color: #9b9b9b;
	font-size: 18px;
}
.home .compare table{
	margin: 0 auto;
	width: 100%;
}
.home .compare table tr{
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}
.home .compare table th,td{
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	text-align: center;
}
.home .compare table .focus{
	color: #00cc99;
}
/* contact */
.home .contact{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #ebebeb;
}
.home .contact h4{
	padding-top: 135px;
	padding-bottom: 135px;
	line-height: 1.5;
	font-weight: bold;
}
.home .contact form{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.home .contact form input[type="text"]{
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #fff;
	border-radius: 5px;
	outline: none;
	width: 460px;
	height: 50px;
	font-size: 20px;
}
.home .contact form input[type="email"]{
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #fff;
	border-radius: 5px;
	outline: none;
	width: 460px;
	height: 50px;
	font-size: 20px;
}
.home .contact form input[type="text"]:focus{
	border: 1px solid #9b9b9b;
}
.home .contact form input[type="email"]:focus{
	border: 1px solid #9b9b9b;
}
.home .contact form input[type="submit"]{
	align-self: flex-end;
	border: 1px solid #00cc99;
	border-radius: 5px;
	background-color: #00cc99;
	width: 140px;
	height: 50px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}
.home .contact form input[type="submit"]:hover{
	background-color: #00cc999d;
	cursor: pointer;
}
/* course */
.course-bg{
	padding-left: 35px;
	position: relative;
	background: url(../img/bg_course.png);
}
.course-bg img{
	position: absolute;
	top: 101px;
}
.course-bg .html{
	right: 180px;
}
.course-bg .css{
	right: 50px;
}
.course-bg h2{
	margin-bottom: 55px;
	color: #fff;
}
.course-bg h2 span{
	color: #00cc99;
	font-size: 24px;
}
.course-bg input[type="button"]{
	border: 1px solid #00cc99;
	border-radius: 5px;
	background-color: #00cc99;
	width: 220px;
	height: 55px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}
.course-bg input[type="button"]:hover{
	border: 1px solid #fff;
	background-color: #fff;
	color: #00cc99;
	cursor: pointer;
}
/* teacher */
.course .teacher{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
	font-weight: bold;
}
.course .teacher img,h3{
	margin-right: 30px;
}
.course .teacher h3{
	line-height: 1.5;
}
.course .teacher h3 span{
	color: #00cc99;
}
.course .teacher ul li{
	margin-left: 2em;
	position: relative;
	line-height: 1.5;
	color: #9b9b9b;
	font-size: 18px;
}
.course .teacher ul li::before{
	position: absolute;
	top: 0;
	left: -2em;
	content: '▪';
}
/* why */
.course .why,.teach{
	margin: 0 auto;
	width: 635px;
}
.course .why h3{
	margin-bottom: 20px;
	color: #00cc99;
	font-weight: bold;
}
.course .why h3 span{
	color: #9b9b9b;
	font-size: 18px;
}
.course .why ol{
	margin-bottom: 50px;
	counter-reset:num;
}
.course .why ol li{
	margin-left: 2em;
	position: relative;
	font-size: 18px;
	font-weight: bold;
}
.course .why ol li::before{
	position: absolute;
	top: 0;
	left: -2em;
	counter-increment:num;
	content: counter(num)'.';
}
/* teach */
.course .teach h3{
	margin-bottom: 25px;
	color: #00cc99;
	font-weight: bold;
}
.course .teach h3 span{
	color: #9b9b9b;
	font-size: 18px;
}
.course .teach ul{
	margin-bottom: 55px;
}
.course .teach ul li{
	padding-top: 15px;
	padding-left: 35px;
	padding-bottom: 15px;
	font-weight: bold;
}
.course .teach ul li:nth-child(odd){
	background-color: #ebebeb;
}
.course .teach ul li:nth-child(even){
	color: #9b9b9b;
}
/* join */
.course .join{
	display: flex;
	justify-content: center;
	padding-top: 150px;
	padding-bottom: 150px;
	background-color: #ebebeb;
}
.course .join h4{
	margin-right: 60px;
	line-height: 1.5;
	font-weight: bold;
}
.course .join input[type="button"]{
	align-self: flex-end;
	border: 1px solid #00cc99;
	border-radius: 5px;
	background-color: #00cc99;
	width: 220px;
	height: 55px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}
.course .join input[type="button"]:hover{
	background-color: #00cc999d;
	cursor: pointer;
}
/* fqa */
.fqa-bg{
	background: url(../img/bg_QA.png);
}
.fqa-bg h2{
	margin: 0 auto 45px;
	width: 360px;
	color: #fff;
	text-align: center;
}
.fqa-bg h2 span{
	color: #00cc99;
	font-size: 24px;
}
.fqa-bg input[type="button"]{
	border: 1px solid #00cc99;
	border-radius: 5px;
	background-color: #00cc99;
	width: 220px;
	height: 55px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}
.fqa-bg input[type="button"]:hover{
	border: 1px solid #fff;
	background-color: #fff;
	color: #00cc99;
	cursor: pointer;
}
.fqa-bg .search-box{
	margin: 0 auto;
	position: relative;
	width: 620px;
}
.fqa-bg .search-box input[type="text"]{
	padding: 10px;
	border: 1px solid #fff;
	border-radius: 5px;
	width: 620px;
	height: 50px;
	outline: none;
	font-size: 18px;
}
.fqa-bg .search-box input[type="text"]:focus{
	border: 3px solid #9b9b9b;
}
.fqa-bg .search-box h5{
	position: absolute;
	top: 15.5px;
	right: 15.5px;
	width: 16px;
	height: 16px;
	z-index: 30;
}
.fqa-bg .search-box h5 a{
	display: block;
	width: 16px;
	height: 16px;
	text-decoration: none;
	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
	background: url(../img/search.png);
}
/* question */
.fqa .question,.pay,.Refund{
	margin-bottom: 50px;
}
.fqa .fqa-box h3{
	margin-bottom: 25px;
	color: #00cc99;
	font-weight: bold;
}
.fqa .fqa-box h3 span{
	color: #9b9b9b;
	font-size: 18px;
	font-weight: bold;
}
.fqa .fqa-box h4{
	margin-top: 25px;
	margin-bottom: 5px;
	font-weight: bold;
}
.fqa .fqa-box p{
	line-height: 1.5;
	color: #9b9b9b;
}
.fqa .fqa-box p a{
	text-decoration: none;
	color: #00cc99;
	font-weight: bold;
}
.fqa .fqa-box p a:hover{
	text-decoration: underline;
}
.fqa .fqa-box .item-box{
	margin-bottom: 25px;
	counter-reset:num;
}
.fqa .fqa-box .item-box li{
	margin-top: 10px;
	margin-left: 4em;
	margin-bottom: 10px;
	position: relative;
	color: #9b9b9b;
}
.fqa .fqa-box ol li::before{
	position: absolute;
	top: 0;
	left: -2em;
	counter-increment:num;
	content: counter(num)'.';
}
.fqa .fqa-box ul li::before{
	position: absolute;
	top: 0;
	left: -2em;
	content: '▪';
}
/* email */
.fqa .email{
	display: flex;
	justify-content: space-around;
	padding-top: 110px;
	background-color: #ebebeb;
}
.fqa .email h4{
	line-height: 1.5;
	font-weight: bold;
}
.fqa .email form{
	display: flex;
	flex-direction: column;
}
.fqa .email form input[type="text"]{
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #fff;
	border-radius: 5px;
	outline: none;
	width: 460px;
	height: 50px;
	font-size: 20px;
}
.fqa .email form input[type="email"]{
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #fff;
	border-radius: 5px;
	outline: none;
	width: 460px;
	height: 50px;
	font-size: 20px;
}
.fqa .email form textarea{
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #fff;
	border-radius: 5px;
	outline: none;
	width: 460px;
	height: 205px;
	font-size: 20px;
}
.fqa .email form input[type="text"]:focus{
	border: 1px solid #9b9b9b;
}
.fqa .email form input[type="email"]:focus{
	border: 1px solid #9b9b9b;
}
.fqa .email form textarea:focus{
	border: 1px solid #9b9b9b;
}
.fqa .email form input[type="submit"]{
	align-self: flex-end;
	margin-bottom: 60px;
	border: 1px solid #00cc99;
	border-radius: 5px;
	background-color: #00cc99;
	width: 140px;
	height: 50px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}
.fqa .email form input[type="submit"]:hover{
	background-color: #00cc999d;
	cursor: pointer;
}